#SUPABASE
VITE_SUPABASE_URL=your_supabase_url
VITE_SUPABASE_ANON_KEY=your_supabase_anon_key

#CLOUDINARY
VITE_CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
VITE_CLOUDINARY_URL=your_cloudinary_url
VITE_CLOUDINARY_UPLOAD_FOLDER=your_cloudinary_upload_folder

#FEATURE FLAGS
VITE_ENABLE_AUTO_STORE=true
VITE_ENABLE_BARCODE_SCAN=true
